In [2]:
import S3Tools
import datetimeTools
import pandas as pd
import boto3

data = S3Tools.preview_csv_dataset(bucket='colinmec-nyc-tlc-5pc',key='trip data/yellow_tripdata_2009-01.csv',rows=1000000)
#data = S3Tools.preview_csv_dataset(bucket='noaa-csv-data',key='Central-Park/725053-94728-2012-06.csv',rows=5000)
#data = S3Tools.preview_csv_dataset(bucket='noaa-csv-data',key='JFK-Intl/744860-94789-2015-01.csv',rows=5000)
#data.loc[250:300]
data.shape[0]

#s3 = boto3.client('s3')
#s3.download_file('nyc-tlc', 'trip data/green_tripdata_2017-12.csv', 'green_tripdata_2017-12.csv')

,vendor_name,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Passenger_Count,Trip_Distance,Start_Lon,Start_Lat,Rate_Code,store_and_forward,End_Lon,End_Lat,Payment_Type,Fare_Amt,surcharge,mta_tax,Tip_Amt,Tolls_Amt,Total_Amt
0,CMT,2009-01-27 15:00:03,2009-01-27 15:12:26,1,4.70,-73.786802,40.639811,NaN,NaN,-73.824570,40.674365,Cash,12.5,0.0,NaN,0.00,0,12.50
1,VTS,2009-01-24 16:26:00,2009-01-24 16:36:00,1,3.67,-73.984925,40.727982,NaN,NaN,-73.950505,40.771162,CASH,11.7,0.0,NaN,0.00,0,11.70
2,CMT,2009-01-14 23:22:00,2009-01-14 23:31:05,1,2.20,-73.979715,40.783976,NaN,NaN,-73.948548,40.784898,Cash,8.6,0.0,NaN,0.00,0,8.60
3,VTS,2009-01-17 00:49:00,2009-01-17 00:52:00,1,0.73,-73.995667,40.679020,NaN,NaN,-73.994532,40.681142,CASH,4.1,0.5,NaN,0.00,0,4.60
4,CMT,2009-01-27 02:27:42,2009-01-27 02:40:25,1,4.80,-73.992024,40.727329,NaN,NaN,-73.987468,40.665506,Cash,13.8,0.0,NaN,0.00,0,13.80
5,DDS,2009-01-31 12:16:51,2009-01-31 12:23:01,3,0.80,-73.983979,40.729535,NaN,NaN,-73.987698,40.740907,CASH,4.9,0.0,NaN,0.00,0,4.90
6,VTS,2009-01-17 17:09:00,2009-01-17 17:19:00,1,2.69,-73.982117,40.774455,NaN,NaN,-73.953050,40.786178,CASH,8.5,0.0,NaN,0.00,0,8.50
7,VTS,2009-01-23 09:44:00,2009-01-23 09:54:00,2,1.36,-73.972937,40.743478,NaN,NaN,-73.973657,40.757273,CASH,7.3,0.0,NaN,0.00,0,7.30
8,CMT,2009-01-15 20:00:09,2009-01-15 20:03:33,1,0.80,-74.002659,40.733718,NaN,NaN,-74.009353,40.726020,Cash,5.5,0.0,NaN,0.00,0,5.50
9,CMT,2009-01-23 01:19:59,2009-01-23 01:23:08,1,1.00,-73.998120,40.741247,NaN,NaN,-74.005267,40.727832,Credit,5.0,0.0,NaN,0.75,0,5.75
10,VTS,2009-01-13 11:37:00,2009-01-13 11:47:00,1,1.97,-73.974030,40.779563,NaN,NaN,-73.954015,40.766897,CASH,7.7,0.0,NaN,0.00,0,7.70
11,CMT,2009-01-25 06:34:01,2009-01-25 06:48:06,1,6.30,-74.000972,40.731828,NaN,NaN,-73.944893,40.802564,Cash,14.9,0.0,NaN,0.00,0,14.90
12,VTS,2009-01-19 00:16:00,2009-01-19 00:27:00,1,3.52,-73.956267,40.775687,NaN,NaN,-73.988178,40.749830,CASH,10.5,0.5,NaN,0.00,0,11.00
13,VTS,2009-01-16 18:00:00,2009-01-16 18:03:00,1,0.78,-73.996340,40.733340,NaN,NaN,-73.996885,40.741458,CASH,4.1,1.0,NaN,0.00,0,5.10
14,CMT,2009-01-24 17:11:32,2009-01-24 17:23:10,1,2.90,-73.996337,40.742946,NaN,NaN,-74.016046,40.717470,Cash,9.7,0.0,NaN,0.00,0,9.70
15,VTS,2009-01-10 01:34:00,2009-01-10 01:40:00,3,1.34,-73.989058,40.721532,NaN,NaN,-73.997713,40.720723,Credit,6.5,0.5,NaN,2.00,0,9.00
16,CMT,2009-01-15 21:29:26,2009-01-15 21:43:57,3,4.00,-73.990928,40.718089,NaN,NaN,-73.989059,40.757490,Cash,12.2,0.0,NaN,0.00,0,12.20
17,CMT,2009-01-08 18:56:28,2009-01-08 19:02:17,1,1.50,-73.982722,40.770098,NaN,NaN,-73.973602,40.786279,Cash,7.1,0.0,NaN,0.00,0,7.10
18,VTS,2009-01-31 08:41:00,2009-01-31 08:47:00,1,1.44,-73.977277,40.787652,NaN,NaN,-73.985595,40.769670,CASH,6.1,0.0,NaN,0.00,0,6.10
19,DDS,2009-01-16 15:06:19,2009-01-16 15:09:34,1,0.50,-73.983434,40.757374,NaN,NaN,-73.977796,40.763886,CASH,3.7,0.0,NaN,0.00,0,3.70
20,CMT,2009-01-22 18:42:17,2009-01-22 18:57:49,2,4.10,-73.972623,40.796170,NaN,NaN,-73.978083,40.757954,Cash,13.5,0.0,NaN,0.00,0,13.50
21,VTS,2009-01-21 16:02:00,2009-01-21 16:14:00,1,1.46,-73.945247,40.786975,NaN,NaN,-73.967643,40.792555,CASH,7.7,1.0,NaN,0.00,0,8.70
22,CMT,2009-01-15 20:56:33,2009-01-15 21:06:12,1,0.70,-73.985602,40.767286,NaN,NaN,-73.975725,40.765576,Cash,7.0,0.0,NaN,0.00,0,7.00
23,VTS,2009-01-30 23:30:00,2009-01-30 23:34:00,1,0.48,-73.987493,40.760962,NaN,NaN,-73.993113,40.762950,CASH,4.1,0.5,NaN,0.00,0,4.60
24,CMT,2009-01-05 21:24:41,2009-01-05 21:29:13,1,1.10,-73.996901,40.726630,NaN,NaN,-73.996341,40.737928,Cash,5.4,0.0,NaN,0.00,0,5.40

In [22]:
data.to_csv(r'yellow_tripdata_2010-01.csv',index=False)

In [23]:
S3Tools.uploadFileFromLocal('yellow_tripdata_2010-01.csv', 'colinmec-test', 'trip data/yellow_tripdata_2010-01.csv')

In [10]:
import datetimeTools as dtt
from datetime import datetime
datetime.fromtimestamp(1420923600)

datetime.datetime(2015, 1, 10, 21, 0)

In [88]:
test = [a + 10 for a in range(12)]
indices = [idx for idx, val in enumerate(test) if val <= 9]
test[None]

TypeError: list indices must be integers, not NoneType

In [2]:
sourceBucket = 'nyc-tlc'
partialPath  = 'trip data/yellow_tripdata_'

years  = [val + 2009 for val in range(11)]
months = [val + 1 for val in range(12)]

keys = []
for yr in years:
    for mn in months:
        keys.append(partialPath + str(yr) + '-' + str(mn).zfill(2) + '.csv')
keys

['trip data/yellow_tripdata_2009-01.csv',
 'trip data/yellow_tripdata_2009-02.csv',
 'trip data/yellow_tripdata_2009-03.csv',
 'trip data/yellow_tripdata_2009-04.csv',
 'trip data/yellow_tripdata_2009-05.csv',
 'trip data/yellow_tripdata_2009-06.csv',
 'trip data/yellow_tripdata_2009-07.csv',
 'trip data/yellow_tripdata_2009-08.csv',
 'trip data/yellow_tripdata_2009-09.csv',
 'trip data/yellow_tripdata_2009-10.csv',
 'trip data/yellow_tripdata_2009-11.csv',
 'trip data/yellow_tripdata_2009-12.csv',
 'trip data/yellow_tripdata_2010-01.csv',
 'trip data/yellow_tripdata_2010-02.csv',
 'trip data/yellow_tripdata_2010-03.csv',
 'trip data/yellow_tripdata_2010-04.csv',
 'trip data/yellow_tripdata_2010-05.csv',
 'trip data/yellow_tripdata_2010-06.csv',
 'trip data/yellow_tripdata_2010-07.csv',
 'trip data/yellow_tripdata_2010-08.csv',
 'trip data/yellow_tripdata_2010-09.csv',
 'trip data/yellow_tripdata_2010-10.csv',
 'trip data/yellow_tripdata_2010-11.csv',
 'trip data/yellow_tripdata_2010-12.csv',
 'trip data/yellow_tripdata_2011-01.csv',
 'trip data/yellow_tripdata_2011-02.csv',
 'trip data/yellow_tripdata_2011-03.csv',
 'trip data/yellow_tripdata_2011-04.csv',
 'trip data/yellow_tripdata_2011-05.csv',
 'trip data/yellow_tripdata_2011-06.csv',
 'trip data/yellow_tripdata_2011-07.csv',
 'trip data/yellow_tripdata_2011-08.csv',
 'trip data/yellow_tripdata_2011-09.csv',
 'trip data/yellow_tripdata_2011-10.csv',
 'trip data/yellow_tripdata_2011-11.csv',
 'trip data/yellow_tripdata_2011-12.csv',
 'trip data/yellow_tripdata_2012-01.csv',
 'trip data/yellow_tripdata_2012-02.csv',
 'trip data/yellow_tripdata_2012-03.csv',
 'trip data/yellow_tripdata_2012-04.csv',
 'trip data/yellow_tripdata_2012-05.csv',
 'trip data/yellow_tripdata_2012-06.csv',
 'trip data/yellow_tripdata_2012-07.csv',
 'trip data/yellow_tripdata_2012-08.csv',
 'trip data/yellow_tripdata_2012-09.csv',
 'trip data/yellow_tripdata_2012-10.csv',
 'trip data/yellow_tripdata_2012-11.csv',
 'trip data/yellow_tripdata_2012-12.csv',
 'trip data/yellow_tripdata_2013-01.csv',
 'trip data/yellow_tripdata_2013-02.csv',
 'trip data/yellow_tripdata_2013-03.csv',
 'trip data/yellow_tripdata_2013-04.csv',
 'trip data/yellow_tripdata_2013-05.csv',
 'trip data/yellow_tripdata_2013-06.csv',
 'trip data/yellow_tripdata_2013-07.csv',
 'trip data/yellow_tripdata_2013-08.csv',
 'trip data/yellow_tripdata_2013-09.csv',
 'trip data/yellow_tripdata_2013-10.csv',
 'trip data/yellow_tripdata_2013-11.csv',
 'trip data/yellow_tripdata_2013-12.csv',
 'trip data/yellow_tripdata_2014-01.csv',
 'trip data/yellow_tripdata_2014-02.csv',
 'trip data/yellow_tripdata_2014-03.csv',
 'trip data/yellow_tripdata_2014-04.csv',
 'trip data/yellow_tripdata_2014-05.csv',
 'trip data/yellow_tripdata_2014-06.csv',
 'trip data/yellow_tripdata_2014-07.csv',
 'trip data/yellow_tripdata_2014-08.csv',
 'trip data/yellow_tripdata_2014-09.csv',
 'trip data/yellow_tripdata_2014-10.csv',
 'trip data/yellow_tripdata_2014-11.csv',
 'trip data/yellow_tripdata_2014-12.csv',
 'trip data/yellow_tripdata_2015-01.csv',
 'trip data/yellow_tripdata_2015-02.csv',
 'trip data/yellow_tripdata_2015-03.csv',
 'trip data/yellow_tripdata_2015-04.csv',
 'trip data/yellow_tripdata_2015-05.csv',
 'trip data/yellow_tripdata_2015-06.csv',
 'trip data/yellow_tripdata_2015-07.csv',
 'trip data/yellow_tripdata_2015-08.csv',
 'trip data/yellow_tripdata_2015-09.csv',
 'trip data/yellow_tripdata_2015-10.csv',
 'trip data/yellow_tripdata_2015-11.csv',
 'trip data/yellow_tripdata_2015-12.csv',
 'trip data/yellow_tripdata_2016-01.csv',
 'trip data/yellow_tripdata_2016-02.csv',
 'trip data/yellow_tripdata_2016-03.csv',
 'trip data/yellow_tripdata_2016-04.csv',
 'trip data/yellow_tripdata_2016-05.csv',
 'trip data/yellow_tripdata_2016-06.csv',
 'trip data/yellow_tripdata_2016-07.csv',
 'trip data/yellow_tripdata_2016-08.csv',
 'trip data/yellow_tripdata_2016-09.csv',
 'trip data/yellow_tripdata_2016-10.csv',
 'trip data/yellow_tripdata_2016-11.csv',
 'trip data/yellow_tripdata_2016-12.csv',
 'trip data/yellow_tripdata_2017-01.csv',
 'trip data/yellow_tripdata_2017-02.csv',
 'trip data/yellow_tripdata_2017-03.csv',
 'trip data/yellow_tripdata_2017-04.csv',
 'trip data/yellow_tripdata_2017-05.csv',
 'trip data/yellow_tripdata_2017-06.csv',
 'trip data/yellow_tripdata_2017-07.csv',
 'trip data/yellow_tripdata_2017-08.csv',
 'trip data/yellow_tripdata_2017-09.csv',
 'trip data/yellow_tripdata_2017-10.csv',
 'trip data/yellow_tripdata_2017-11.csv',
 'trip data/yellow_tripdata_2017-12.csv',
 'trip data/yellow_tripdata_2018-01.csv',
 'trip data/yellow_tripdata_2018-02.csv',
 'trip data/yellow_tripdata_2018-03.csv',
 'trip data/yellow_tripdata_2018-04.csv',
 'trip data/yellow_tripdata_2018-05.csv',
 'trip data/yellow_tripdata_2018-06.csv',
 'trip data/yellow_tripdata_2018-07.csv',
 'trip data/yellow_tripdata_2018-08.csv',
 'trip data/yellow_tripdata_2018-09.csv',
 'trip data/yellow_tripdata_2018-10.csv',
 'trip data/yellow_tripdata_2018-11.csv',
 'trip data/yellow_tripdata_2018-12.csv',
 'trip data/yellow_tripdata_2019-01.csv',
 'trip data/yellow_tripdata_2019-02.csv',
 'trip data/yellow_tripdata_2019-03.csv',
 'trip data/yellow_tripdata_2019-04.csv',
 'trip data/yellow_tripdata_2019-05.csv',
 'trip data/yellow_tripdata_2019-06.csv',
 'trip data/yellow_tripdata_2019-07.csv',
 'trip data/yellow_tripdata_2019-08.csv',
 'trip data/yellow_tripdata_2019-09.csv',
 'trip data/yellow_tripdata_2019-10.csv',
 'trip data/yellow_tripdata_2019-11.csv',
 'trip data/yellow_tripdata_2019-12.csv']

In [14]:
import datetimeTools
ts = datetimeTools.strArrayToTimeStamps(data["tpep_pickup_datetime"].values)
data.insert(2, "pUTimeStamp", ts, True)
data.head(20)

,VendorID,tpep_pickup_datetime,pUTimeStamp,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-06-01 00:55:13,1559350513,2019-06-01 00:56:17,1,0.00,1,N,145,145,2,3.0,0.5,0.5,0.00,0,0.3,4.30,0.0
1,1,2019-06-01 00:06:31,1559347591,2019-06-01 00:06:52,1,0.00,1,N,262,263,2,2.5,3.0,0.5,0.00,0,0.3,6.30,2.5
2,1,2019-06-01 00:17:05,1559348225,2019-06-01 00:36:38,1,4.40,1,N,74,7,2,17.5,0.5,0.5,0.00,0,0.3,18.80,0.0
3,1,2019-06-01 00:59:02,1559350742,2019-06-01 00:59:12,0,0.80,1,N,145,145,2,2.5,1.0,0.5,0.00,0,0.3,4.30,0.0
4,1,2019-06-01 00:03:25,1559347405,2019-06-01 00:15:42,1,1.70,1,N,113,148,1,9.5,3.0,0.5,2.65,0,0.3,15.95,2.5
5,1,2019-06-01 00:28:31,1559348911,2019-06-01 00:39:23,2,1.60,1,N,79,125,1,9.5,3.0,0.5,1.00,0,0.3,14.30,2.5
6,1,2019-06-01 00:46:46,1559350006,2019-06-01 00:50:55,4,0.60,1,N,211,148,2,4.5,3.0,0.5,0.00,0,0.3,8.30,2.5
7,1,2019-06-01 00:54:49,1559350489,2019-06-01 01:02:57,2,1.20,1,N,79,249,1,7.5,3.0,0.5,1.00,0,0.3,12.30,2.5
8,1,2019-06-01 00:09:57,1559347797,2019-06-01 00:25:54,2,2.00,1,N,158,68,2,11.5,3.0,0.5,0.00,0,0.3,15.30,2.5
9,1,2019-06-01 00:29:12,1559348952,2019-06-01 01:03:13,1,8.60,1,N,186,243,1,31.5,3.0,0.5,7.05,0,0.3,42.35,2.5
10,2,2019-06-01 00:01:48,1559347308,2019-06-01 00:16:06,1,1.74,1,N,107,148,1,11.0,0.5,0.5,2.96,0,0.3,17.76,2.5
11,2,2019-06-01 00:17:41,1559348261,2019-06-01 00:30:22,1,2.22,1,N,148,137,2,10.5,0.5,0.5,0.00,0,0.3,14.30,2.5
12,2,2019-06-01 00:33:26,1559349206,2019-06-01 00:39:18,1,1.20,1,N,137,170,1,6.0,0.5,0.5,2.45,0,0.3,12.25,2.5
13,1,2019-06-01 00:01:42,1559347302,2019-06-01 00:06:14,1,0.70,1,N,229,141,1,5.5,3.0,0.5,1.70,0,0.3,11.00,2.5
14,2,2019-06-01 00:20:08,1559348408,2019-06-01 00:28:56,1,1.83,1,N,113,161,1,8.0,0.5,0.5,1.00,0,0.3,12.80,2.5
15,2,2019-06-01 00:30:40,1559349040,2019-06-01 01:08:12,1,5.11,1,N,230,229,1,25.0,0.5,0.5,7.20,0,0.3,36.00,2.5
16,1,2019-06-01 00:17:06,1559348226,2019-06-01 00:46:21,1,4.80,1,N,7,170,3,21.0,3.0,0.5,0.00,0,0.3,24.80,2.5
17,1,2019-06-01 00:47:52,1559350072,2019-06-01 01:04:19,1,5.20,1,N,170,42,1,16.5,3.0,0.5,4.05,0,0.3,24.35,2.5
18,2,2019-06-01 00:05:51,1559347551,2019-06-01 00:30:45,1,9.05,1,N,138,189,1,28.5,0.5,0.5,7.45,0,0.3,37.25,0.0
19,2,2019-06-01 00:36:38,1559349398,2019-06-01 00:57:43,1,4.07,1,N,97,89,1,16.5,0.5,0.5,3.56,0,0.3,21.36,0.0

In [ ]:
datetime.fromtimestamp(timeStmp)
datetime.strftime(timeType,'%Y-%m-%d %H:%M:%S')

In [8]:
import sys
del sys.modules['datetimeTools']

In [7]:
import GlobalVar
schema = ', '.join([var1 + ' ' + var2 for var1, var2 in \
          zip(GlobalVar.getVal('weatherFields'), GlobalVar.getVal('weatherDataType'))])

In [8]:
schema

'timeStamp int, airTemp float, dewPt float, pressure float, windDir int, windSpd float, cloudCover string, precip1Hr float, precip6Hr float'

In [107]:
from datetime import datetime
datetime.fromtimestamp(1549065600)

datetime.datetime(2019, 2, 2, 0, 0)

In [3]:
A = ['a1','a2','a3']
B = ['b1','b2','b3']
C = ['c1','c2','c3']
D = [A, B, C]
D[0]

['a1', 'a2', 'a3']

In [5]:
allStations = [True, True, True, False]
(1 == 1) and not False in allStations

False

In [11]:
someFunc = lambda x, y: x + y + 1

In [13]:
someFunc(2,4)

7